<div class="container-fluid d-flex justify-content-center navbar" id="content">
  <div class="container">
      <div class="row my-2 d-flex justify-content-center navbar">
          <p class="small text-center m-0">Copyright © 2017 Ellen Körbes</p>
          <!-- <div class="col-md-3 col-sm-6 pl-0">
              <ul class="nav flex-column">
                  <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Team</a></li>
              </ul>
          </div>
          <div class="col-md-3 col-sm-6 pl-0">
              <ul class="nav flex-column">
                  <li class="nav-item"><a href="#" class="nav-link">More</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Support</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Legal</a></li>
              </ul>
          </div>
          <div class="col-md-4 ml-auto text-right">
              <small class="text-uppercase">Connect on social media</small>
              <ul class="nav justify-content-end">
                  <li class="nav-item"><a href="#" class="nav-link pr-0"><i class="fa fa-pinterest fa-lg"></i></a></li>
                  <li class="nav-item"><a href="#" class="nav-link pr-0"><i class="fa fa-twitter fa-lg"></i></a></li>
                  <li class="nav-item"><a href="#" class="nav-link pr-0"><i class="fa fa-instagram fa-lg"></i></a></li>
                  <li class="nav-item"><a href="#" class="nav-link pr-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                  <li class="nav-item"><a href="#" class="nav-link pr-0"><i class="fa fa-skype fa-lg"></i></a></li>
              </ul>
          </div>
          <div class="col-12 text-right small">
              @2017 Company Name
          </div> -->
      </div>
      </div>
  </div>

<!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
  crossorigin="anonymous"></script> -->
  <script src="/assets/smooth-scroll.polyfills.min.js"></script>
  <script
  src="http://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
  crossorigin="anonymous"></script>

  <script type="text/javascript">
var scroll = new SmoothScroll('a[href*="#"]', {
	// Selectors
	ignore: '[data-scroll-ignore]', // Selector for links to ignore (must be a valid CSS selector)
	header: null, // Selector for fixed headers (must be a valid CSS selector)

	// Speed & Easing
	speed: 500, // Integer. How fast to complete the scroll in milliseconds
	offset: 88, // Integer or Function returning an integer. How far to offset the scrolling anchor location in pixels
	easing: 'easeInOutCubic', // Easing pattern to use
	customEasing: function (time) {}, // Function. Custom easing pattern

	// Callback API
	before: function () { // Callback to run before scroll
        $('.navbar-collapse').collapse('hide');
    },
	after: function () {
    }, // Callback to run after scroll

    header: '[data-scroll-header]'
});
// var scroll = new SmoothScroll('.navbar',{
// 		header: '[data-scroll-header]'
// 	});

var scroll2 = new SmoothScroll('#chevron', { offset: 130, ignore: '[null]'} );
var anchor2 = document.querySelector( '#about' );
var toggle2 = document.querySelector(' #chevron ');
var options2 = {  };
$( "#chevron" ).click(function() {
    scroll2.animateScroll( anchor2, toggle2, options2 );
});

var scroll3 = new SmoothScroll('#top-tinkers', { offset: 130, ignore: '[null]'} );
var anchor3 = document.querySelector( '#about' );
var toggle3 = document.querySelector(' #top-tinkers ');
var options3 = {  };
$( "#chevron" ).click(function() {
    scroll3.animateScroll( anchor3, toggle3, options3 );
});

var scroll4 = new SmoothScroll('#top-hire', { offset: 130, ignore: '[null]'} );
var anchor4 = document.querySelector( '#about' );
var toggle4 = document.querySelector(' #top-hire ');
var options4 = {  };
$( "#chevron" ).click(function() {
    scroll4.animateScroll( anchor4, toggle4, options4 );
});

var scroll5 = new SmoothScroll('#side-kubicorn', { offset: 80, ignore: '[null]'} );
var anchor5 = document.querySelector( '#kubicorn' );
var toggle5 = document.querySelector(' #side-kubicorn ');
var options5 = {  };
$( "#chevron" ).click(function() {
    scroll5.animateScroll( anchor5, toggle5, options5 );
});

var scroll6 = new SmoothScroll('#side-freecodecamp', { offset: 80, ignore: '[null]'} );
var anchor6 = document.querySelector( '#freecodecamp' );
var toggle6 = document.querySelector(' #side-freecodecamp ');
var options6 = {  };
$( "#chevron" ).click(function() {
    scroll6.animateScroll( anchor6, toggle6, options6 );
});

var scroll7 = new SmoothScroll('#side-genderidentity', { offset: 80, ignore: '[null]'} );
var anchor7 = document.querySelector( '#genderidentityio' );
var toggle7 = document.querySelector(' #side-genderidentity ');
var options7 = {  };
$( "#chevron" ).click(function() {
    scroll7.animateScroll( anchor7, toggle7, options7 );
});

</script>

<script src="/assets/baguetteBox.min.js"></script>

<script>
        baguetteBox.run('.tz-gallery');
    </script>