<header class="site-header" role="banner">

    <div class="max-width">

        <h1>{{ site.title | escape }}</h1>

<h3>{{ site.description }}</h3>

<!--        <hr>
  <nav>
        <p class="nav-link">
            <a href="/">home</a> | 
            <a href="/journal">about</a> | 
            <a href="/portfolio">portfolio</a>
        </p> -->
           
    <!-- {% for my_page in site.pages %}
          {% if my_page.title %}
          <a href="#{{ my_page.title | escape }}">{{ my_page.title | escape }}</a>
          {% endif %}
      {% endfor %}</p> -->
    
    </nav>
    <hr>
    <p style="text-align: center; color: gray; font-size: 0.7em">Looking to make me a job offer? Well <a href="https://youtu.be/Wjh0hyQjAIg">it’s your lucky day</a>.</p>
    <hr>

  </div>

</header>
