<header class="site-header" role="banner">

    <div class="max-width">

        <h1>{{ site.title | escape }}</h1>

<h3>full-stack developer // writer // dad-jokes craftswoman extraordinaire</h3>

<h3>💾 🗞 🍿</h3>
        
        <hr>
  <nav>
        <p class="nav-link">
            <a href="/">start</a>
            <a href="/#journal">journal</a>
            <a href="/#portfolio">portfolio</a>
        </p>
           
    <!-- {% for my_page in site.pages %}
          {% if my_page.title %}
          <a href="#{{ my_page.title | escape }}">{{ my_page.title | escape }}</a>
          {% endif %}
      {% endfor %}</p> -->
    
    </nav>
<hr>
  </div>

</header>
