body {
    background: url("bg.jpg") no-repeat center;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-flow: column nowrap;
    background-color: #162406;
    background-size: cover;
    margin: 0;

}

main, footer, header {
    flex: 0 1 auto;
width: 70vw;
max-width: 38rem;
    padding: 0 2rem;
    background-color: rgba(30, 30, 39, 0.8);
    margin-top: 5.5rem;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.wrapIt {
//    flex: 0 1 auto;
//    max-width: 38rem;
//    padding: 0;
//    margin: 0;
}

footer {
    margin-bottom: 7.7rem;
    padding-bottom: 0.55rem;
    padding-top: 0.55rem;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1.5;
    color: white;
    margin: 0;
    text-transform: uppercase; }

p, li {
    font-family: 'Titillium Web', sans-serif;
    line-height: 2rem;
    color: white;
    font-weight: 200;
    font-size: 1.1rem;
}

.footer {
    line-height: 1.5;
    text-align: center; }

a, a:visited, a:hover, a:active {
                           text-decoration: none;
                           color: #CB92AF;
                       }

a:hover {
    text-decoration: underline;
}

.navSpan {
    flex: 1 1 0;
}

nav {
    text-transform: uppercase;
}

.nav-items {
    flow: 1 1 0;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

ul {
    list-style-type: none;
    //  padding: 0.55rem 0 1.1rem 0;
    padding: 0;
    margin: 0;
    margin-top: 0.55rem;
}

.nav-items li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.45rem;
    line-height: 1;
}

.indexcat {
    text-transform: none !important;
}