---
layout: defaultpost
---

<!-- <div class="container-fluid d-flex justify-content-center darkness" id="content"> -->
    <div class="mx-auto postpage" style="max-width: 1200px">

        <!-- <a id="link-about"></a> -->
        <div class="row mt-5">

            <div class="col-md-3 shades ml-0 mr-5 mb-5 p-3 h-25 sticky-top2 text-right" id="post-sidebar">
                <h1>{{ page.title | escape }}</h1>
                <p class="small"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
                    {{ page.date | date: date_format }}
                  </time></p>
                  <hr>
            </div>
            <div class="col-md-8 shades mb-5 mr-0 px-5 pb-5" id="post-content">
                {{ content }}
          </div>

            {% comment %}
            <div class="col-8 shades mr-5 mb-5 mt-0 pt-0 pb-5 px-5">
                {{ content }}
          </div>
            <div class="col shades mb-5 mr-5 p-3 sticky-top2 h-25 text-right" id="post-sidebar">
                <h1>{{ page.title | escape }}</h1>
                <p class="small"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
                    {{ page.date | date: date_format }}
                  </time></p>
                  <hr>
            </div>
            {% endcomment %} 
        </div>
    <!-- </div> -->
    </div>
</div>

<!-- <script type="text/javascript">
window.onload = function () {
  $("#markdown-toc").appendTo("#post-sidebar");
}
</script> -->

<!-- </div> -->
